.container {
  width: 100%;
  height: calc(100vh - var(--tabbar-height));
  background: var(--accent-color);
  margin: 0 auto;
}

:global(.dev) .container {
  height: calc(100vh - var(--dev-header-height) - var(--tabbar-height));
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.description {
  font-size: 16px;
  color: var(--innactive-color);
  line-height: 1.5;
}
