services:
  monolit:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: ghcr.io/vlad1m1/monolit:latest
    ports:
      - "80:80"
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: foreignlang
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./pg-init:/docker-entrypoint-initdb.d

volumes:
  pg-data:

