.tabbedContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}

:global(.dev) .tabbedContainer {
	min-height: calc(100vh - var(--dev-header-height));
}

.contentWrapper {
	position: relative;
	flex: 1;
	overflow: hidden;
	width: 100%;
	isolation: isolate;
	background: var(--background-primary-color);
	min-height: 0;
}

.tabContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	will-change: transform, opacity;
}
