.topBarContainer {
	position: relative;
	width: 100%;
	background: var(--background-primary-color);
	border-bottom: 0.5px solid var(--border-color);
	z-index: var(--z-index-dropdown);

	@media (prefers-color-scheme: dark) {
		background: var(--background-secondary-color);
		border: none;
	}
}

.topBar {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none; // Firefox

	&::-webkit-scrollbar {
		display: none; // Chrome, Safari, Opera
	}
}

.itemsWrapper {
	position: relative;
	display: flex;
	gap: var(--padding-s);
	padding: 0 var(--padding-s);
	min-width: 100%;
	width: max-content;
}

.topBarItem {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 4px;
	background: transparent;
	border: none;
	cursor: pointer;
	transition: transform var(--transition-ease-base-fast);
	-webkit-tap-highlight-color: transparent;
	white-space: nowrap;

	&:active {
		transform: scale(0.95);
	}
}

.label {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.3px;
	color: var(--innactive-color);
	transition: color var(--transition-ease-base-fast);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;

	.topBarItem.active & {
		color: var(--accent-color);
		font-weight: 600;
	}

	@media (prefers-color-scheme: dark) {
		color: var(--innactive-color);

		.topBarItem.active & {
			color: var(--accent-color);
		}
	}
}

.underline {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	background: var(--accent-color);
	transition: transform var(--animation-speed-1) var(--transition-ease-base),
		width var(--animation-speed-1) var(--transition-ease-base);
	border-radius: 1px 1px 0 0;
	pointer-events: none;
}
